<ul id="calculatorlist">
  <li><button name="plastic-drink-bottle">plastic drink bottle</button></li>
  <li><button name="plastic-food-container">plastic food container</button></li>
  <li><button name="laundry-detergent-bottle">laundry detergent bottle</button></li>
  <li><button name="gallon-milk-jug">gallon milk jug</button></li>
  <li><button name="aluminum-beverage-can">aluminum beverage can</button></li>
  <li><button name="tin-or-steel-food-can">tin or steel food can</button></li>
  <li><button name="glass-jar-or-bottle">glass jar or bottle</button></li>
  <li><button name="large-glass-bottle">large glass bottle</button></li>
  <li><button name="newspaper">newspaper</button></li>
  <li><button name="magazine">magazine</button></li>
  <li><button name="junk-mail">junk mail</button></li>
  <li><button name="stack-of-ten-pages-of-office-paper">stack of ten pages of office paper</button></li>
  <li><button name="cardboard-box">cardboard box</button></li>
  <li><button name="telephone-book">telephone book</button></li>
  <li><button name="paper-bag">paper bag</button></li>
  <li><button name="cereal-box">cereal box</button></li>
  <li><button name="paper-towel-roll">paper towel roll</button></li>
</ul>
Total: <span id="weight-total">0</span> grams
