<h1>Welcome to smallchange!</h1>

smallchange is a site that connects recyclers with sponsors
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div id="intro-col-1">
  <strong>Recyclers</strong> can submit information about the stuff they recycle. Once the submission has been vetted by other users, reyclers get paid!
</div>


<div id="intro-col-2">
  <strong>Sponsors</strong> can make a grant to support recyclers. When recyclers get paid, sponsors connect with a community of like-minded people!
</div>


<div id="intro-col-3">
  <strong>Charities</strong> can accept donations from recyclers who want to do even more good, in their communities and throughout the world!
</div>
