<div class="blue-grey-text text-blue-grey-darken-4">
	<br><br>
	<div class="card-panel">
		<div class="center">
			<i class="center material-icons">loop</i>
		</div>
		<p>Before you can submit your own recyclables, we require that you vote on some of the submissions that other community members have made. Recycling submissions should be clear and well documented.</p>

		<p>Voting keeps our community honest and fair. We wouldn't want to have to shut down the system because of users who try to game the community for monetary gain!</p>
		<br>
	</div>
</div>