<div class="blue-grey-text text-blue-grey-darken-3">
	Donation of <%= @donation.amount %><br>
	Sent to <%= @donation.charity.name %><br>
	Submitted by <%= "#{@donation.recycler.first_name} #{@donation.recycler.last_name}" %><br>
</div>