<p>
<!--   <%#= f.label :submission_id, "Submission id" %><br />
  <%#= f.text_field :submission_id %><br /> -->

  <%= f.label :material, "Material" %><br />
  <%= f.text_field :material %><br />

  <%= f.label :quantity, "Quantity" %><br />
  <%= f.text_field :quantity %><br />

  <!--<%#= f.check_box :_destroy %>
  <%#= f.label :_destroy, "Remove Submission group" %> -->
</p>

