<p class='col s8 m6 l2'>
<!--   <%#= f.label :submission_id, "Submission id" %><br />
  <%#= f.text_field :submission_id %><br /> -->

<!--   <%#= f.label :material, "#{@materials[@index]}" %><br>
  <%#= f.hidden_field :material, value: "#{@materials[@index]}" %>
  <%#= f.label :weight, "weight in oz" %><br>
  <%#= f.number_field :weight,  min: '0' %><br> -->

  <%= f.label :material, "#{@material}" %><br>
  <%#= f.hidden_field :material, value: "#{@material}" %>

  <% sub_materials_options = get_material_objects_list(@material)
  %>

  <%= f.select(:material, sub_materials_options, :prompt => 'Select') %>
  <%= f.label :weight, "weight in oz" %><br>
  <%= f.number_field :weight,  min: '0' %><br>

  <!--<%#= f.check_box :_destroy %>
  <%#= f.label :_destroy, "Remove Submission group" %> -->
</p>

