<br>
<% flash.each do |key, value| %>
<br>
  <div class="alert blue-grey-text text-blue-grey-darken-3"><%= value %></div>
<% end %>
<br>
<h4 class="blue-grey-text text-blue-grey-darken-3 center">- Submit your recycling -</h4>
<br>
<%= render "form" %>
