<div class="blue-grey-text text-blue-grey-darken-3">
	Transaction done; New grant of <%= number_with_precision(@new_grant.amount, precision: 2) %>, created by <%= @new_grant.sponsor.name %> at <%= @new_grant.created_at.strftime("%Y-%m-%d") %>
</div>