.lower-links a {
	color: #263238;
}

.lower-links a:hover {
	color: #90a4ae;
}

.link a {
	color: #263238;
}

.link a:hover {
	color: #90a4ae;
}

p, li, a {
	color: #263238;
}

.page-flexbox-wrapper {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}