.lower-links a {
	color: #263238;
}

.lower-links a:hover, link {
	color: #90a4ae;
}

p, li, a {
	color: #263238;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
      