
<div class="blue-grey-text text-blue-grey-darken-3">
	<% if current_recycler.id != @random_submission.recycler_id %>
	  <div>
	    <%= render @random_submission %>
	  </div>
	<% else %>
	  <div>
	    <p  class="blue-grey-text text-blue-grey-darken-3">Nothing to vote on here</p>
	  </div>
	<% end %>
	<div>
		<a href="/votes">Find another one.</a>
	</div>
</div>
