<div>
	<% if current_recycler.id != @random_submission.recycler_id %>
	  <div>
	    <%= render @random_submission %>
	  </div>
	<% else %>
	  <div>
	    <p>Nothing to vote on here</p>
	  </div>
	<% end %>
</div>